body {
	background: #fff;
	margin: 0;
	padding: 0 0 10px 0;
    color: #333;
    font: medium/150% "Lucida Grande", Lucida, Verdana, sans-serif;
}

a:link {
	color: rgb(255, 60, 31);
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: rgb(255, 60, 31);
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: rgb(255, 60, 31);
	text-decoration: underline;
}

.articleTitleStyle {
	padding: 7px 7px 20px 15px;
	font-size: x-large;
}

.articleTitleStyle a {
    color: #000;
}

.info {
	border-bottom: 1px solid #ddd;
	margin: 0 15px 5px;
	padding: 5px 0;
}

.info span {
	display: block;
	margin-bottom: 2px;
}

.info span:before {
	font-weight: bold;
	color: #777;
}


.articleBodyStyle {
	padding: 0 25px;
	overflow:auto;
}

.articleDetails { 
	padding: 6px 15px 6px 15px;
}

.articleDetails a {
	color: #ccc;
}

span.articleAuthorStyle {
	color: #600;
}

/* fix a 100% max size to potentially problematic elements */
img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
	max-width: 100%;
}

/* keep images ratio and avoid box overflow due to border or padding */
img {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -webkit-box-shadow: 0px 2px 2px 0px #ccc;
    box-shadow:         0px 2px 2px 0px #ccc;
}
